<ion-view view-title="Home">
  <ion-content>

    <div id="map" data-tap-disabled="true"></div>

    <div class="list_items">
      <ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in chat" type="item-text-wrap" href="#/tab/chats/{{item.id}}">
          <img ng-src="{{item.face}}">
          <h2>{{item.name}}</h2>
          <p>{{item.lastText}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(chat)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </div>


  </ion-content>
</ion-view>
