<ion-view view-title="Places">
<ion-header-bar class="bar-assertive">  
  <h1 class="title">Places</h1>
</ion-header-bar>
  <ion-content >
    <ion-list>
	    <ion-item style="color : #FFFFFF;" class="item-remove-animate item-avatar item-icon-right"  
	    	ng-repeat="item in chats" id="{{item.item_bg}}" ng-click="goto('#/tab/chats/{{item.id}}');">
	        <img ng-src="{{item.face}}">
	        <h2 style="color : #FFFFFF;">{{item.name}}</h2>
	        <p style="color : #FFFFFF;">{{item.lastText}}</p>
	    </ion-item>
	</ion-list>
  </ion-content>
</ion-view>
